{%extends 'layout.html' %}{% block content %}
<title>bone</title>

<div class="container">
    <p style="padding-top:20px ; font-size: 40px; text-align: center; font-weight: bold;">กระดูก</p>
    <div style="background-image: url(https://www.nonthavej.co.th/upload/content/1252/image2_20190815105434.png); width: 100%; height: 600px;"></div>
</div>
<div class="container" style="border-bottom: #F6F6F6 5px solid; padding-top: 20px;">
    <p style="font-size: 24px; font-weight:600; color: #00007A; ">กระดูกพรุน ดูแลก่อน ป้องกันได้</p>
    <p style="font-size: 18px;  color: #585858;">กระดูกพรุนเป็นภาวะที่เกิดขึ้นในกลุ่มของคนปกติซึ่งบ่งบอกว่าตนเองกำลังย่างเข้าสู่วัยชรา ผู้ป่วยบางรายไม่ทราบว่าตนเองมีภาวะดังกล่าว จนกระทั่งเกิดภาวะแทรกซ้อน หรือกระดูกบางส่วนมีการทรุดหัก ซึ่งภาวะที่พบกระดูกหักนั้นเป็นการตระหนักได้ว่า กระดูกไม่ได้รับการดูแล ไม่ได้ซ่อมแซมและไม่ได้ปรับปรุงคุณภาพในระยะเวลาอันควร จนทำให้กระดูกขาดความแข็งแรงและไม่สามารถทนแรงกระแทกได้ แม้ว่าจะเป็นการล้มเพียงเบาๆ หรือสะดุดก็อาจทำให้กระดูกหักหรือหักป่นจนยากที่จะซ่อมแซม</p>
</div>
<div class="container" style="border-bottom: #F6F6F6 5px solid; padding-top: 20px;">
    <p style="font-size: 24px; font-weight:600; color: #00007A; ">ป้องกันกระดูกพรุนในวัยทองได้อย่างไร?</p>
    <ol>
        <li style="font-size: 18px;  color: #585858;">การออกกำลังกายที่สมวัย การบริหารฝึกการทรงตัวที่พอเหมาะ</li>
        <li style="font-size: 18px;  color: #585858;">การสร้างกล้ามเนื้อให้แข็งแรง การรับประทานอาหารที่มีแคลเซียม</li>
        <li style="font-size: 18px;  color: #585858;">การหลีกเลี่ยงอาหารและเครื่องดื่ม ที่มีส่วนผสมคาเฟอีน และแอลกอฮอล์</li>
    </ol>
</div>
<div class="container" style="padding-top: 20px;" >
    <div class="col-10" style="margin: auto;">
        <div style="background-image: url(https://siph-space.sgp1.digitaloceanspaces.com/media/upload/43795843_xxl_600.jpg); width: 100%; height: 700px; background-repeat: no-repeat; background-size: cover; "></div>
    </div>
</div>
<div class="container" style="border-bottom: #F6F6F6 5px solid; padding-top: 20px;">
    <p style="font-size: 24px; font-weight:600; color: #00007A; ">วิธีการรักษา</p>
    <p style="font-size: 18px;  color: #585858;">ปัจจุบันมีการรักษาโรคกระดูกพรุนด้วยยาและฮอร์โมน ซึ่งใช้สำหรับผู้ที่ได้รับการวินิจฉัยว่าเป็นโรคกระดูกพรุนเท่านั้น ทั้งในโรคกระดูกพรุนปฐมภูมิ และทุติยภูมิ โดยที่การรักษาควรอยู่ภายใต้การดูแลของแพทย์ผู้เชี่ยวชาญโดยเฉพาะ</p>
</div>
<div class="container" style="border-bottom: #F6F6F6 5px solid; padding-top: 20px;">
    <p style="font-size: 24px; font-weight:600; color: #00007A; ">ข้อปฏิบัติหากสงสัยว่าเป็นโรคกระดูกพรุน</p>
    <p style="font-size: 18px;  color: #585858;">หากท่านมีความสงสัยว่าตนเองมีความเสี่ยงภาวะกระดูกพรุน ควรไปพบแพทย์เพื่อตรวจร่างกายและในบางกรณีอาจต้องมีการวัดมวลกระดูกรวมทั้งการตรวจโลหิต เพื่อวินิจฉัยภาวะแทรกซ้อนอันเป็นเหตุให้เกิดการละลายของกระดูกเร็วก่อนวันอันควร รวมทั้งการตรวจพิเศษบางประเภท เพื่อช่วยในการหาความเสี่ยงต่อโรคกระดูกพรุนทุติยภูมิ</p>
</div>
<div style="height: 30px;"></div>
{% endblock%}