{%extends 'layout.html' %}{% block content %}

<title>Dental</title>
<div class="container">
    <p style="padding-top:20px ; font-size: 40px; text-align: center; font-weight: bold;">โรคฟันผุ</p>
    <div style="background-image: url(https://www.img.in.th/images/4cdfab64fabf34b0a312504c2d2b160c.jpg); width: 100%; height: 600px; background-repeat: no-repeat; background-size: cover;"></div>
</div>

<div class="container" style="border-bottom: #F6F6F6 5px solid; padding-top: 20px;">
    <p style="font-size: 28px; font-weight:600; color: #00007A; ">โรคฟันผุเป็นโรคที่ไม่ควรชะล่าใจ เพราะหากไม่รีบรักษาอาจสูญเสียฟันในที่สุด</p>
    <p style="font-size: 24px; font-weight:600; color: #00007A; ">สาเหตุของโรค</p>
    <p style="font-size: 18px;  color: #585858;">เกิดจากเชื้อโรคที่พบได้ตามปกติในช่องปากทำการย่อยสลายอาหารจำพวกแป้งและน้ำตาล เกิดเป็นกรด ซึ่งทำให้เกิดการทำลายโครงสร้างของฟัน หากปล่อยทิ้งไว้โดยไม่ทำการรักษาจะลุกลามเพิ่มขึ้นจนทำให้ฟันแตกเป็นรู เป็นช่อง และถ้าลุกลามมากขึ้นอีกจะก่อให้เกิดความเจ็บปวดหรือฟันเป็นหนอง และอาจต้องถอนฟันนั้นในที่สุด</p>
</div>

<div class="container" style="border-bottom: #F6F6F6 5px solid; padding-top: 20px;">
    <p style="font-size: 24px; font-weight:600; color: #00007A; ">ความรุนแรง</p>
    <ul style="font-size: 18px;  color: #585858;">
        <li>โรคฟันผุจะลุกลามจากเคลือบฟันไปเนื้อฟัน ซึ่งหากยังไม่ทะลุถึงโพรงประสาทฟันจะสามารถรักษาได้โดยการกำจัดส่วนที่ผุแล้วอุดฟันบูรณะส่วนที่ถูกทำลาย</li>
        <li>โรคฟันผุที่ไม่ได้รับการรักษาจะมีการลุกลามต่อเนื่องไปถึงโพรงประสาทฟัน จะเกิดการอักเสบไปที่รากฟัน ซึ่งต้องรักษาโดยการรักษารากฟันหรือถอน</li>
    </ul>
</div>
    
<div class="container" style="border-bottom: #F6F6F6 5px solid; padding-top: 20px;">
    <p style="font-size: 24px; font-weight:600; color: #00007A; ">อาการฟันผุ</p>
    <ul style="font-size: 18px;  color: #585858;">
        <li>ฟันผุระยะแรก สีเป็นขาวขุ่นหรือน้ำตาล ผิวไม่เรียบ</li>
        <li>เมื่อมีการลุกลามมากขึ้นจะเริ่มแตกออกเป็นรูผุ</li>
        <li>ฟันผุที่มีการลุกลามจะสูญเสียเนื้อฟันมากขึ้น การรักษาจะมีความซับซ้อนและเสียค่าใช้จ่ายเพิ่มขึ้น</li>
    </ul>
</div>

<div class="container" style="border-bottom: #F6F6F6 5px solid; padding-top: 20px; padding-bottom: 20px;">
    <div class="col-10" style="margin: 0 auto; background-image: url(https://i.pinimg.com/originals/79/ce/2a/79ce2a4325bfd1119bad6372e79a721e.jpg); width: 100%; height: 500px; background-repeat: no-repeat; background-size: cover;"></div>
</div>

<div class="container" style="border-bottom: #F6F6F6 5px solid; padding-top: 20px;">
    <p style="font-size: 24px; font-weight:600; color: #00007A; ">ตรวจวินิจฉัย</p>
    <p style="font-size: 18px;  color: #585858;">นอกจากจะมองด้วยตา สัมผัสโดยเครื่องมือแล้ว วิธีที่แนะนำเป็นมาตรฐานอีกวิธีหนึ่งคือการถ่ายภาพรังสีเอกซเรย์ (X-RAY) เนื่องจากจะทำให้สามารถพบฟันผุในตำแหน่งที่ตามองไม่เห็นและยังบอกความลึกของการลุกลามของโรคฟันผุได้ด้วย</p>
</div>  
<div class="container" style="border-bottom: #F6F6F6 5px solid; padding-top: 20px;">
    <p style="font-size: 24px; font-weight:600; color: #00007A; ">รักษาโรคฟันผุ</p>
    <p style="font-size: 18px;  color: #585858;">การรักษาจะเริ่มจากกำจัดส่วนที่ผุแล้วทำการอุดฟันหรือบูรณะทดแทนฟันส่วนที่ถูกทำลายด้วยวัสดุอุดชนิดต่าง ๆ เช่น อมัลกัม เรซิน คอมโพสิต ทอง เซรามิก แต่หากมีการลุกลามจนสูญเสียเนื้อฟันมากอาจต้องทำการครอบฟัน หรือหากทะลุโพรงประสาทฟันต้องรักษารากฟัน</p>
    <ul style="font-size: 18px;  color: #585858;">
        <li>การอุดฟันด้วยอมัลกัม มีความแข็งแรง ทนทาน</li>
        <li>การอุดฟันด้วยเรซินคอมโพสิต มีความสวยงาม</li>
    </ul>
</div>
<div style="height: 30px;"></div>
{% endblock%}