{%extends 'layout.html' %} {% block content %}
<style>
  body{ background-color: #FFF; }
</style>
<bodyAboutus class="Body">
  <div class="about-section">
    <h1 class="welcome">Welcome to About Us Page</h1>
    <p class="welcome_quote">The Origin is started here.</p>
  </div>
  <div class="container" style="padding-top:20px ; height: 525px;">
    <div class="row1">
      <div class="col-7">
      <p style="font-family: 'Mitr', sans-serif;font-weight:light; font-size: 20px; color: #707070; padding-top: 10px;" >เพื่อสุขภาพของคนไทยทุกคน คือ จุดเริ่มต้นของเราด้วยความตั้งใจจริงที่ต้องการให้คนไทยมีสุขภาพที่ดีและมีทางเลือกในการดูแลรักษาพยาบาลตนเองมากขึ้นโรงพยาบาลวิภาวดีจึงถือกำเนิดขึ้น  โดยเน้นการให้บริการบริการด้านการดูแลรักษาสุขภาพตลอดจนตรวจวินิจฉัยบำบัดโรค โดยทีมแพทย์และบุคคลากรผู้เชี่ยวชาญเฉพาะด้านทุกสาขา พรั่งพร้อมด้วยอุปกรณ์ที่ ทันสมัย มียังไม่มีรถพยาบาลพร้อมรับ - ส่งทั่วประเทศและยังไม่เปิดให้บริการตลอด 24 ชั่วโมง มีเตียงรองรับผู้ป่วย 0 เตียง มีห้องตรวจกว่า 0 ห้อง สามารถให้บริการผู้ป่วยนอกได้ถึง วันละ 0 คน ด้วยศูนย์บริการทางการแพทย์เฉพาะทางครบทุกสาขา แพทย์ประจำกว่า 0 ท่าน และแพทย์ที่ปรึกษากว่า 0 ท่าน อุปกรณ์ทางการแพทย์ที่ใช้เทคโนโลยีล่าสุดและยังไม่ได้รับรองระบบ คุณภาพมาตราฐาน JCI ของสหรัฐอเมริกา HA ประเทศไทย และระบบ ISO 9000
          โรงพยาบาลได้พัฒนาการให้บริการมาโดยตลอด ทั้งด้านบริการที่ประทับใจ และด้านคุณภาพในการรักษาพยาบาลที่มีประสิทธิภาพ ทุก ท่านที่เข้ามารับบริการ เราถือว่าเป็นบุคคลที่จะต้องดูแลทั้งร่างกาย และจิตใจอย่างเสมอภาคเท่าเทียมกัน ไม่ว่าคุณจะเป็นใคร...เราพร้อมจริงใจในบริการ</p>
      </div>
      <div class="col-5" style="height: 525px; padding-top: 45px;" >
        <div style="background-image: url(https://www.img.in.th/images/0d49e4348d28242ac300aa5f43b23cab.png) ; height: 360px; background-repeat: no-repeat; background-size: cover;"></div>
      </div>
    </div>
  </div>

  <div class="headTeam">
    <h2 class="team">FOUNDING MEMBERS</h2>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img
          src="..\static\PHUKAO.JPG"
          alt="Phukao"
          width="100%"
          height="100%"
        />
        <div class="container">
          <h3 class="Personname">Phattaraphat Chaiamornvate</h3>
          <p class="Position">Positon : Front-end / Project Designer</p>
          <p class="Lang">Language : html / css / javascript</p>
          <p class="Email">Email : 62010684@kmitl.ac.th</p>
          <p class="contact">Contact</class=></p>
          <ul class="social-media">
            <li><a href="https://www.facebook.com/phattaraphat.chaiamornvate/"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/Phukao_GK"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="https://www.instagram.com/phukao_gk/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="..\static\zen.JPG" alt="Zen" width="100%" height="100%" />
        <div class="container">
          <h3 class="Personname">Nattapat Arunkitjaroen</h3>
          <p class="Position">Positon : Back-end / Project Designer</p>
          <p class="Lang">Language : python / html / css</p>
          <p class="Email">Email : zen@hotmail.com</p>
          <p class="contact">Contact</class=></p>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="..\static\tan.JPG" alt="Tan" width="100%" height="100%" />
        <div class="container">
          <h3 class="Personname">Tan Chaiwongsriaroon</h3>
          <p class="Position">Positon : Fullstack / Database</p>
          <p class="Lang">Language : html / python / SQL</p>
          <p class="Email">Email : 62010309@kmitl.ac.th</p>
          <p class="contact">Contact</class=></p>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="..\static\KAN.JPG" alt="Kan" width="100%" height="100%" />
        <div class="container">
          <h3 class="Personname">Kan Maksapsin</h3>
          <p class="Position">Positon : Document Organizer</p>
          <p class="Lang">Project management / Planning form</p>
          <p class="Email">Email : 62010052@kmitl.ac.th</p>
          <p class="contact">Contact</class=></p>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="..\static\NAT.JPG" alt="Nut" width="100%" height="100%" />
        <div class="container">
          <h3 class="Personname">Nuttawat Janwisit</h3>
          <p class="Position">Positon : Project Designer</p>
          <p class="Lang">Planning form / Styling front-end</p>
          <p class="Email">Email : 62010292@kmitl.ac.th</p>
          <p class="contact">Contact</class=></p>
          <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</bodyAboutus>
{% endblock%}
